{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="{% static 'big_logo.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <title>Harmonie Obenheim</title>

    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'src/output.css' %}">
        <link rel="stylesheet" href="{% static 'src/base.css' %}">
    {% endcompress %}
</head>
<header class="hidden md:flex bg-background font-poppins my-[40px] mx-28">
    <div class="flex justify-between items-center h-full w-full">
        <a href="{% url 'home' %}">
            <img src="{% static "logo.png" %}" alt="Logo" class="w-1/2 lg:size-fit">
        </a>
        <div class="text-[15px] flex flex-row items-end gap-x-8 lg:text-[25px]">
            {% url 'home' as home_url %}
            {% url 'events' as event_url %}
            {% url 'galerie' as gallery_url %}
            {% url 'contact' as contact_url %}
            <a href="{{ home_url }}" class="{% if request.path == home_url %}font-black{% endif %}"><span
                    class="link link-underline link-underline-black">Accueil</span></a>
            <a href="{{ event_url }}"
               class="{% if request.path|slice:':11' == '/evenements' %}font-black{% endif %}"><span
                    class="link link-underline link-underline-black">Évènements</span></a>
            <a href="{{ gallery_url }}"
               class="{% if request.path|slice:':8' == '/galerie' %}font-black{% endif %}"><span
                    class="link link-underline link-underline-black">Galerie</span></a>
            <a href="{{ contact_url }}" class="{% if request.path == contact_url %}font-black{% endif %}"><span
                    class="link link-underline link-underline-black">Contact</span></a>
        </div>
    </div>
</header>

<header class="md:hidden bg-background font-poppins my-4 mx-4">
    <div>
        <div class="flex flex-row justify-between">
            <img id='logo' src="{% static "burger-bar.png" %}" alt="Logo" class="w-10">
            <a href="{% url 'home' %}">
                <img id='logo' src="{% static "logo.png" %}" alt="Logo" class="h-10">
            </a>
        </div>
        <div id="navbar" class="bg-background border-r-2 border-text-blue close">
            <div class="w-full flex flex-row justify-end">
                <img id='logo_temp' src="{% static "fermer.png" %}" alt="Logo" class="w-10 my-4 mx-4">
            </div>
            <div class="px-10 py-4 text-xl flex flex-col gap-y-8">
                {% url 'home' as home_url %}
                {% url 'events' as event_url %}
                {% url 'galerie' as gallery_url %}
                {% url 'contact' as contact_url %}
                <a href="{{ home_url }}" class="{% if request.path == home_url %}font-black{% endif %}"><span
                        class="link link-underline link-underline-black">ACCUEIL</span></a>
                <a href="{{ event_url }}"
                   class="{% if request.path|slice:':11' == '/evenements' %}font-black{% endif %}"><span
                        class="link link-underline link-underline-black">ÉVÈNEMENTS</span></a>
                <a href="{{ gallery_url }}" class="{% if request.path == gallery_url %}font-black{% endif %}"><span
                        class="link link-underline link-underline-black">GALERIE</span></a>
                <a href="{{ contact_url }}" class="{% if request.path == contact_url %}font-black{% endif %}"><span
                        class="link link-underline link-underline-black">CONTACT</span></a>
            </div>
        </div>
    </div>
    <script src="{% static 'src/navbar.js' %}"></script>
</header>

<body class="width-full flex flex-col min-h-screen bg-background h-screen font-poppins cursor-default">
{% block content %}

{% endblock content %}
</body>

<footer class="bg-footer mt-auto">
    <div class="text-white flex flex-row md:px-28 px-8 py-[20px] justify-between text-text-white font-poppins text-sm lg:text-lg font-bold text-left">
        <div>
            <p>Répétitions les vendredis 20h-22h</p>
            <p>Salle des fêtes</p>
            <p>4 rue du Stade</p>
            <p>67230 Obenheim</p>
        </div>
        <div class="flex flex-col items-end text-right">
            <a href="https://www.facebook.com/harmonieobenheim">
                <img src="{% static "facebook.png" %}" alt="Facebook logo" class="max-h-10 lg:max-h-16">
            </a>
        </div>
    </div>
</footer>
</html>
