{% extends "_base.html" %}
{% load static %}
{% block content %}
    <body>
    <div class="flex items-center flex-col">
        <!-- <h1 class="font-black text-3xl lg:text-5xl my-28 text-center">Photos de l'Harmonie de Obenheim</h1> -->
        {% for collection in collections %}
            {% if collection.1|length > 0 %}
                <a href="{% url 'galerie_collection' collection.0.url %}">
                    <div class="h-[40vh] lg:h-[60vh] w-screen relative">
                        <div class="absolute flex flex-col justify-center items-center w-full h-full inset-0 z-10 pointer-events-none">
                            <h1 class="text-white text-3xl md:text-5xl lg:text-7xl font-black">{{ collection.0.title|upper }}</h1>
                            <p class="text-white md:text-xl lg:text-2xl">Voir la collection</p>
                        </div>
                        <img src="{{ collection.0.miniature.url }}" alt="Picture not found"
                             class="h-full w-full object-cover brightness-50 hover:brightness-75 transition duration-300 ease-in-out">

                    </div>
                </a>
            {% endif %}
        {% endfor %}
    </div>
    </body>
{% endblock content %}