{% extends '_base.html' %}
{% load static %}


{% block content %}
    <body>
    <div class="mt-[40px]">
        {% for picture in pictures %}
            <img src="{{ picture.picture.url }}" alt="Picture not found" class="w-full">
        {% endfor %}
    </div>
    <div class="px-28 my-12 w-full flex flex-col items-center justify-around font-black text-4xl text-text">
       <p>Rejoignez nous a la salle des fetes d'Obenheim tous les vendredis a 20h</p>
        <div class="h-2 w-[15%] rounded-full bg-text mt-8"></div>
    </div>
    <div class="mx-28 my-[40px] mb-[80px] flex flex-row justify-between items-stretch">
        <div class="w-1/2 flex flex-col justify-center">
            <h1 class="text-text-blue font-black text-3xl lg:text-5xl mb-8">Bienvenue sur le site de l'Harmonie
                d'Obenheim</h1>
            <p class="text-lg lg:text-2xl w-11/12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
                varius turpis
                luctus ante finibus, in volutpat nibh mollis. Phasellus mattis diam vel ligula mollis elementum. Ut eu
                sapien at lectus pellentesque tempor eu in lacus. Proin facilisis eros tellus, ac dignissim lorem
                egestas vel. Nullam et felis id ipsum feugiat blandit. </p>
        </div>
        <div class="w-1/2 flex justify-center">
            <img src="{% static "big_logo.png" %}" alt="Picture not found" class=" max-h-80 object-contain ml-9">
        </div>
    </div>
    <h1 class="font-black text-3xl lg:text-5xl grid place-items-center">Évènements à venir</h1>
    <div class="mx-28 flex flex-wrap justify-between">
        {% for event in events %}
            <div class="w-full xl:w-[45%]">
                <div class="my-[60px] lg:my-[100px] flex flex-row justify-between items-stretch">
                    <img src="{{ event.flyer.url }}" alt="Picture not found" class="w-1/2 rounded-xl object-cover">
                    <div class="w-1/2 flex flex-col ml-11">
                        <h1 class="text-text-blue font-semibold text-2xl lg:text-4xl mb-4">{{ event.title }}</h1>
                        <div class="flex flex-col flex-grow">
                            <div>
                                <div class="flex flex-row items-center">
                                    <img src="{% static "calendar.png" %}" atl="Picture not found"
                                         class="max-h-5 h-full mr-3">
                                    <p class="lg:text-xl">{{ event.date|date:"d/m/Y - H:i" }}</p>
                                </div>
                                <div class="flex flex-row items-center">
                                    <img src="{% static "location.png" %}"
                                         class="max-h-5 h-full mr-3" alt="Picture not found">
                                    <p class="lg:text-xl">{{ event.city }}, {{ event.address }}</p>
                                </div>
                            </div>
                            <div class="my-6 text-sm lg:text-base">
                                <p>{{ event.description }}</p>
                            </div>
                            <div class="">
                                <a href="{% url 'event_detail' event.url %}"
                                   class="bg-button text-text-white text-base lg:text-xl font-semibold py-2 px-12 rounded-full inline-flex items-center justify-center gap-3 w-auto">Voir plus
                                    <img src="{% static "right-arrow.png" %}" alt="Picture not found"
                                         class="max-h-5"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock content %}